<!DOCTYPE html>
<html lang="="en>
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>

    <body>
        <h1>Rory Young</h1>
        <p> My name is Rory Young. I grew up in the very hot town of Santa Cruz, whcih is located in the bread basket parish St. Elizabeth. I attended the Santa Cruz Primary and Junior High School<br> and the St. Elizbeth Technical High School, where I developed a great interest in technology.
             I am currently enrolled at The University of The West Indies, Mona where I am reading for bachelors<br> 
        in Information Technology.
            My goals after finishing my studies is to use the knowledge I've aquired to develope and implement meaningful programs/software for cyber security and the development of a smart cities.</p>     
    </body>
</html>